.footer {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  opacity: 0.7;
  z-index: 10;
}

.reveal .slides > section:first-of-type ~ .footer {
  display: none;
}
